<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IQMedInnovation</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" href="bundle.css">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/css/app.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="styles/img/favicon/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="app-root">
        <div id="app-page-loading">
            <div class="ui loader active"></div>
            <div class="text loader">
                <h3>IQMED Research Platform</h3>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="common.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
</body>
</html>